<!doctype html>
<html lang="mn-Mong">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/pico.min.css">
  </head>
  <body>
    <header class="container">
        <nav>
          <ul>
            <li>
              <hgroup>
                <h1><a href="/">ᠮᠣᠩᠭᠤᠯ ᠪᠢᠴᠢᠭ</a></h1>
                <p>学习蒙古文信息化知识</p>
              </hgroup>
            </li>
          </ul>
          <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/posts/">日志</a></li>
            <li><a href="/articles/">文章</a></li>
            <li><a href="/about/">关于</a></li>
          </ul>
      </nav>
    </header>
    <main class="container">
      {{ content }}
    </main>
    <footer class="container">
      &copy; 2025 by bichig.cn; Styled by <a href="https://picocss.com">Pico CSS</a>
    </footer>
  </body>
</html>
